################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InsurancePremiumCalculator/obj
/InsurancePremiumCalculator/bin/Debug/net8.0
